force-app/main/default/flows/Create_Endorsement_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Case_Id</name>
        <label>Assign Case Id</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Please_upload_supporting_files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Record_Assignment</name>
        <label>Case Record Assignment</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Insurance_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endorsement_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Endorsement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endorsement_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddressUpdate</name>
        <choiceText>AddressUpdate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AddressUpdate</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactNumberUpdate</name>
        <choiceText>ContactNumberUpdate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContactNumberUpdate</stringValue>
        </value>
    </choices>
    <choices>
        <name>DOBChange</name>
        <choiceText>DOBChange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DOBChange</stringValue>
        </value>
    </choices>
    <choices>
        <name>NameChange</name>
        <choiceText>NameChange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NameChange</stringValue>
        </value>
    </choices>
    <choices>
        <name>PremiumFrequencyChange</name>
        <choiceText>PremiumFrequencyChange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PremiumFrequencyChange</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Create Endorsement Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Endorsement Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Case_Id</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Policy</name>
        <label>Get Policy</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Policy_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Capture_Details</name>
        <label>Capture Details</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Record_Assignment</targetReference>
        </connector>
        <fields>
            <name>Endorsement_Details</name>
            <defaultValue>
                <stringValue>{!EndorsementDetails}</stringValue>
            </defaultValue>
            <fieldText>Endorsement Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_upload_supporting_files</name>
        <label>Please upload supporting files</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Uploaddocument</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Policy_Details</name>
        <label>Policy Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Endorsement_Type</targetReference>
        </connector>
        <fields>
            <name>Policy_Details_1</name>
            <fieldText>&lt;p&gt;Policy_Number : {!Get_Policy.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Issued Date : {!Get_Policy.Issuing_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Effective Date : {!Get_Policy.Effective_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Expiry Date: {!Get_Policy.Expiration_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Status: {!Get_Policy.Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Last Premium Paid: {!Get_Policy.Premium__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Premium Frequency: {!Get_Policy.Premium_Frequency__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Endorsement_Type</name>
        <label>Select Endorsement Type</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Details</targetReference>
        </connector>
        <fields>
            <name>Endorsement_Type</name>
            <choiceReferences>DOBChange</choiceReferences>
            <choiceReferences>NameChange</choiceReferences>
            <choiceReferences>PremiumFrequencyChange</choiceReferences>
            <choiceReferences>AddressUpdate</choiceReferences>
            <choiceReferences>ContactNumberUpdate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Endorsement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Policy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CaseRecord.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>EndorsementDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
